<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <system.web>
        <customErrors>
            <error redirect="https://www.baidu.com" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>
